.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1360px;
    height: 8vh;
    margin: 0 30px ;
    font-size: 20px;
}
.logoName{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    gap: 60px;
}
.logoName__name{
    height: 100%;
    align-self: center;
    color: white;
    font-family:monospace;
}       

.menu{
    display: flex;
    flex-direction: row;
    justify-self: start;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}
.menu__item{
    color: white;
}
.menu__item a{
    color: white;
}

.contacts{
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
}
.contacts__icons{
    width: 30px;   
}
.contacts__img{
    width: 30px;
}
.contacts__img_sizeL{
    width: 60px;
}
@media (max-width:768px) {
    .menu{
        opacity: 0;
        position: absolute;
    }
}
@media (max-width:400px) {
    .logoName__name{
    color: white;
    font-size: 18px;
    }   
}